.award-section {
    padding-top: 96px;
    padding-bottom: 96px;
    background-color: #ffffff;

    .awards {
        &-text {
            text-align: center;

            h3 {
                color: #707070;
                font-size: 14px;
                line-height: 1.5;
                font-weight: 500;
                margin-bottom: 16px;
                letter-spacing: 3px;

                @media screen and (min-width: 768px) {
                    font-size: 18px;
                    text-align: left;

                }

            }

            h2 {
                font-size: 56px;
                line-height: 1.1;
                font-weight: bold;

                @media screen and (min-width: 768px) {
                    font-size: 70px;
                    text-align: left;

                }
            }

        }
    }

    .award-design {
        @media screen and (min-width: 768px) {
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-wrap: wrap;
        }

        &-grid {
            padding-top: 64px;

            @media screen and (min-width: 768px) {
                width: 24%;
            }

            .award-design-content {
                text-align: center;

                @media screen and (min-width: 768px) {
                    text-align: left;
                }

                h5 {
                    font-size: 26px;
                    line-height: 1.5;
                    font-weight: 400;

                    @media screen and (min-width: 768px) {
                        font-size: 30px;
                    }
                }

                h4 {
                    font-size: 26px;
                    font-weight: bold;
                    line-height: 1.5;
                    padding-bottom: 14px;

                    @media screen and (min-width: 768px) {
                        font-size: 28px;
                    }
                }

                p {
                    font-size: 16px;
                    line-height: 1.5;
                    font-weight: 400;
                    margin-bottom: 16px;
                    color: #707070;

                    @media screen and (min-width: 768px) {
                        font-size: 20px;
                    }
                }
            }
        }
    }
}