.skills {
    
    padding-top: 90px;
    padding-bottom: 90px;
    background-color:#f9f9f9;

    .skills-row {
        width:100%;
        @media (min-width: 768px) {
            display: flex;
            align-items: flex-start;
            justify-content: space-around;
            }
        .skills-col {
            margin-bottom: 32px;
            @media (min-width: 768px) {
               width:42%;
               padding-left: 16px;
               padding-right: 16px;
                }
            .skills_text {
                h4{
                    text-align: center;
                    letter-spacing: 3px;
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 1.5;
                    color:#454545;
                    margin-bottom: 16px;  
                    @media (min-width: 768px) {
                        text-align: left;
                    }
                }
                h1 {
                    font-size: 32px;
                    text-align: center;
                    font-weight: 400;
                    padding-bottom: 16px;
                    line-height: 1.1;
                    @media (min-width: 768px) {
                        font-size: 70px;
                        line-height: 1.1;
                        font-weight:bold;
                        text-align: left;
                        }
                }

                p {
                    color: #454545;
                    margin-bottom: 6.44px;
                    font-size: 24px;
                    line-height: 1.2;
                    text-align: center;
                    @media (min-width: 768px) {
                        font-size: 20px;
                        line-height: 1.5;
                        text-align: left;
                        }
                }
            }
        }
        .skills-col{
            padding-top: 24px;
            @media (min-width: 768px) {
              width: 50%;
              padding-left: 16px;
              padding-right: 16px;
                }
            .skills-progress {
                height: 40px;
                display: block;
                background: none;
                margin-bottom: 48px;

                .skill {
                    padding: 0;
                    margin: 0 0 6px 0;            
                    display: block;
                    font-weight: 500;
                    font-size: 20px;
                    color: #232323;

                    .val {
                        float: right;
                        font-style: normal;
                    }
                }

                .progress_bar {
                    background:rgba(206, 206, 206, 0.4);
                    height: 3px;
                    border-radius: 50px;

                    .progress-line {
                        height: 3px;
                        transition: 0.9s;
                        background-color: red;
                       
                    }
                }
            }
        }

    }
}